# Exclude build artifacts and intermediate files
build/
*.o
*.obj
*.dSYM/
*.log
*.tmp

# Exclude test files
test/
*.test.*
*.spec.*

# Exclude unnecessary files from development
external/libfst/
jest.config.js
tsconfig.json

# Exclude development and editor-specific files
node_modules/
*.md
!.README.md
.env
.cache/
out/
.idea/
.vscode/
coverage/
*.tgz
*.zip
*.gz
*.swp
.DS_Store
*.bak
Thumbs.db

# CI configuration and metadata
.github/
