# Exclude everything in the build folder except the .node file in Release
build/
!build/Release/fst_reader.node

# Explicitly exclude specific build files
build/binding.Makefile
build/Makefile
build/Release/obj.target/
build/Release/.deps/
build/*.mk

# Ignore other build and intermediate files
*.o
*.obj
*.dSYM/
*.log
*.tmp

# Ignore source files and dev-related files
external/libfst/
src/
test/
*.test.*
*.spec.*
*.c
*.h
binding.gyp
compile_flags.txt
jest.config.js
tsconfig.json

# Ignore development and editor-specific files
node_modules/
*.md
!.README.md
.env
.cache/
out/
.idea/
.vscode/
coverage/
*.tgz
*.zip
*.gz
*.swp
.DS_Store
*.bak
Thumbs.db

# CI
.github/
